<h1>Delayed Job Sanity</h1>

<h2 style="color: #ff0000"><%= params['msg'] %></h2>  

<form action="/sanity/delayed_job" method="post">
Dummy Value: <input type="text" name="dummy"/> <input type="submit" value="Delayed Job Sanity!">
</form>

